@import 'fonts.css';

.movies h1{
    color: #ffffff;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 600;
    white-space: pre;
    padding: 0;
    margin: 0;
}

.movies {
    padding: calc(var(--padding-vertical)/2) var(--padding-horizontal) 0 var(--padding-horizontal);
}

.selection-title {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.right-arrow {
    height: 64px; 
}

.movie-list {
    /*position: relative;*/
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    margin: calc(var(--padding-vertical)/2) 0 calc(var(--padding-vertical)) 0;
    padding: 0;
}

.movie-carousel {
    display: flex;
    gap: 20px;
    width: 100%;
    transition: transform 0.5 ease;
    overflow-x: scroll;
    scroll-snap-align: x mandatory;
    scroll-behavior: smooth;
}

.movie-carousel img {
    scroll-snap-align: start;
}

.movie-container {
    position: relative;
    display: inline-block;
    width: 212px;
    cursor: pointer;
    border-radius: 24px;
    border: none;
}

.movie-container:hover {
    transform: scale(1);
    box-shadow: 0 0 15px #a92525;
}

.movie-poster {
    width: 212px;
    height: 300px;
    border-radius: 24px;
    display: block;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.movie-container:hover .movie-overlay {
    opacity: 1;
}

.movie-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.overlay-btn {
    /*background: #a9252526;*/
    background: none;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.overlay-btn:hover {
    background: #a925250e;
    /* transform: scale(1.1); */
}

.prev-button {
    position: absolute;
    left: -10px;
}